In [ ]:
#typle

In [1]:
tup=2,3,4
tup

(2, 3, 4)

In [6]:
#list to tuple
l1=tuple([1,2,3])
l1

(1, 2, 3)

In [7]:
#nested tuple
l2=(4,5,6,),(1,2,3)
l2

((4, 5, 6), (1, 2, 3))

In [21]:
tup=tuple('string')
tup
tup[5]
tup=('string',tuple([1,2,3]),2,3,4,True)
tup

('string', (1, 2, 3), 2, 3, 4, True)

In [23]:
#we cannot modify tuples
tup=(1,2,3)
tup[1]=4

TypeError: 'tuple' object does not support item assignment

In [29]:
tup=('string',[1,2,3],2,3)
tup[1].append(4)
tup

('string', [1, 2, 3, 4], 2, 3)

In [31]:
tup=(1,2,3)
a,b,c=tup
c

3

In [37]:

#swapping
a,b=1,2
temp=b
b=a
a=temp
print(a)
print(b)

2
1

In [38]:
a,b=1,2
a,b=b,a
print(a)
print(b)

2
1

In [54]:
lam=(1,2,3,4,5)
for a in lam:
    print(a)
lam.count(2)

1
2
3
4
5

1

In [55]:
#unpacking
tup=([1,2,3],[4,5,6],[7,8,9],[10,11,12])
for a,b,c in tup:
    print('a={},b={},c={}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9
a=10,b=11,c=12