In [ ]:
#typle

In [1]:
tup=2,3,4
tup

(2, 3, 4)

In [6]:
#list to tuple
l1=tuple([1,2,3])
l1

(1, 2, 3)

In [7]:
#nested tuple
l2=(4,5,6,),(1,2,3)
l2

((4, 5, 6), (1, 2, 3))

In [21]:
tup=tuple('string')
tup
tup[5]
tup=('string',tuple([1,2,3]),2,3,4,True)
tup

('string', (1, 2, 3), 2, 3, 4, True)

In [23]:
#we cannot modify tuples
tup=(1,2,3)
tup[1]=4

TypeError: 'tuple' object does not support item assignment

In [29]:
tup=('string',[1,2,3],2,3)
tup[1].append(4)
tup

('string', [1, 2, 3, 4], 2, 3)

In [31]:
tup=(1,2,3)
a,b,c=tup
c

3

In [37]:

#swapping
a,b=1,2
temp=b
b=a
a=temp
print(a)
print(b)

2
1

In [38]:
a,b=1,2
a,b=b,a
print(a)
print(b)

2
1

In [54]:
lam=(1,2,3,4,5)
for a in lam:
    print(a)
lam.count(2)

1
2
3
4
5

1

In [55]:
#unpacking
tup=([1,2,3],[4,5,6],[7,8,9],[10,11,12])
for a,b,c in tup:
    print('a={},b={},c={}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9
a=10,b=11,c=12

In [ ]:
#list

In [11]:
a=[1,2,3,4,5]
print(a)
tup=('foo','bar','baz')
lst=list(tup)
lst
lst[1]='peekaboo'
lst
list(range(10))
lst.append('foo')
lst
lst.insert(3,'loo')
lst
lst.pop(3)
lst

[1, 2, 3, 4, 5]

['foo', 'peekaboo', 'baz', 'foo']

In [18]:
lst[1]=None
lst[1]
lst.extend([2,3,(2,3)])
lst

['foo', None, 'baz', 'foo', 2, 3, (2, 3), 2, 3, (2, 3)]

In [ ]:
#sorting

In [4]:
lst=[8,4,5,9,2,9]
lst
lst.sort()
lst

[2, 4, 5, 8, 9, 9]

In [5]:
import bisect
lst.sort()
lst
bisect.bisect(lst,10)
bisect.insort(lst,7)
lst

[2, 4, 5, 7, 8, 9, 9]

In [8]:

lst[2:5]

[5, 7, 8]

In [21]:
lst=[5,4,3,2,83,9,2]
lst
lst.sort()
lst

[2, 2, 3, 4, 5, 9, 83]

In [16]:
lst.sort()
lst
lst[-5:-2]

[3, 4, 5]

In [27]:
#display every two numbers
lst[::2]

[2, 3, 5, 83]

In [33]:
lst

[2, 2, 3, 4, 5, 9, 83]

In [37]:

for a in lst:
    print(lst)

[2, 2, 3, 4, 5, 9, 83]
[2, 2, 3, 4, 5, 9, 83]
[2, 2, 3, 4, 5, 9, 83]
[2, 2, 3, 4, 5, 9, 83]
[2, 2, 3, 4, 5, 9, 83]
[2, 2, 3, 4, 5, 9, 83]
[2, 2, 3, 4, 5, 9, 83]

In [10]:

#zip
lst=[5,4,3,2,83,9,2]
a=sorted(lst)
b=[9,8,7,6,5,4,]
c=zip(a,b)
c=list(c)

In [18]:
print(c)
d,f=zip(*c)
print(d)
print(f)

[(2, 9), (2, 8), (3, 7), (4, 6), (5, 5), (9, 4)]
(2, 2, 3, 4, 5, 9)
(9, 8, 7, 6, 5, 4)

In [45]:
a=list((range(10)))
print(reversed(a))

<list_reverseiterator object at 0x058D54B0>