In [1]:
print("hallo world")

hallo world

In [11]:
a=int(input("enter a number"))
b=int(input("enter second number"))
print(type(a))
print(type(b))
c=a+b
d=a-b
e=a*b
f=a//b
print(c)
print(d)
print(e)
print(f)

enter a number10
enter second number20
<class 'int'>
<class 'int'>
30
-10
200
0

In [15]:
print('athul\'s "laptop"')

athul's "laptop"

In [17]:
10*'navin'

'navinnavinnavinnavinnavinnavinnavinnavinnavinnavin'

In [18]:
print('c:\docs\navin')

c:\docs
avin

In [19]:
print(r'c:\docs\navin')

c:\docs\navin

In [25]:
x=int(10)
x+int(20)
y=x+int(10)
print(y)

20

In [3]:
##lists

In [15]:
nums=[25,12,36,95,14]
print(nums)
print(nums[0])
print(nums[2:])
print(nums[-2])
names=['navin','kiran','john']
print(names)
values=[9.5,'navin',25]
print(values)

[25, 12, 36, 95, 14]
25
[36, 95, 14]
95
['navin', 'kiran', 'john']
[9.5, 'navin', 25]

In [40]:
##lists inside list
mil=[nums,values]
print(mil)
##append
print(nums)
nums.append(45)
print(nums)
##insert
nums.insert(2,77)
print(nums)
##remove
nums.remove(77)
print(nums)
##pop
nums.pop(2)
print(nums)
##delete
del nums[2:]
print(nums)
##extend
nums.extend([29,33,43,12])
print(nums)
##min
print(min(nums))
##max
print(max(nums))
print(nums)

val=[12,98,43,22]
print(val)
val.sort()
print(val)

[[12, 12, 29, 33, 43], [9.5, 'navin', 25]]
[12, 12, 29, 33, 43]
[12, 12, 29, 33, 43, 45]
[12, 12, 77, 29, 33, 43, 45]
[12, 12, 29, 33, 43, 45]
[12, 12, 33, 43, 45]
[12, 12]
[12, 12, 29, 33, 43, 12]
12
43
[12, 12, 29, 33, 43, 12]
None
[12, 12, 29, 33, 43]
[12, 12, 29, 33, 43]
[12, 98, 43, 22]
[12, 22, 43, 98]

In [ ]:
##tuple
##we cannot change the value

In [49]:
tup=(21,36,14,25)
print(tup)
print(tup[0])
tupp=(21,34,76,21)
print(tupp.count(21))
print(tupp.index(76))

(21, 36, 14, 25)
21
2
2

In [ ]:
##set
##collection of unique element

In [52]:
s={22,25,14,21,5,22}
print(s)
##indexing not supported

{5, 14, 21, 22, 25}