In [4]:
num=5
print(id(num))
name='athul'
print(id(name))
a=10
print(id(a))
b=10
print(id(b))

1692361888
98307392
1692361968
1692361968

#loop

In [3]:
for a in range(0,10,2):
    print(a)

0
2
4
6
8

In [6]:
for var in range(1,12):
    print("no.{} square is {} cube is {}".format(var,var**2,var**3))

no.1 square is 1 cube is 1
no.2 square is 4 cube is 8
no.3 square is 9 cube is 27
no.4 square is 16 cube is 64
no.5 square is 25 cube is 125
no.6 square is 36 cube is 216
no.7 square is 49 cube is 343
no.8 square is 64 cube is 512
no.9 square is 81 cube is 729
no.10 square is 100 cube is 1000
no.11 square is 121 cube is 1331

In [11]:
#function
def function1():
    print("hi guys")

function1()

hi guys

In [12]:
#1. function without arg and return type
def add():
    var1=int(input("enter first number"))
    var2=int(input("enter second number"))
    var3=var1+var2
    print("sum =",var3)
    
add()

enter first number10
enter second number20
sum = 30

In [13]:
#2.function without arg and with return type
def add():
    var1=int(input("enter first number"))
    var2=int(input("enter second number"))
    var3=var1+var2
    return(var3) 
print(add())

enter first number10
enter second number20
30

In [20]:
#3.function with arg without return type
def add(a,b):
    var3=a+b
    print(var3)
    
x=int(input("enter first number"))
y=int(input("enter second number"))
add(x,y)

enter first number10
enter second number20
30

In [21]:
#4.function with arg and with return type
def add():
    var1=int(input("enter first number"))
    var2=int(input("enter second number"))
    var3=var1+var2
    return(var3) 
print(add())

enter first number10
enter second number20
30